@model IEnumerable<TodoList.Models.Todo>

@{
    ViewData["標題"] = "Index";
}

<h1>待辦清單</h1>

<p>
    <a asp-action="Create">新增待辦事項</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.標題)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.是否完成)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.標題)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.是否完成)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">細項</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
